@import url(https://fonts.googleapis.com/css?family=Overpass);
/* Dependencies */
* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media screen and (max-width: 1199px) {
  html {
    font-size: 45%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  font-family: "Overpass", Helvetica, Arial, sans-serif;
  color: #474747;
  overflow-x: hidden;
  background-color: white;
}

a {
  text-decoration: none;
  color: #0b8e36;
}

.wrapper,
.site-wrapper {
  max-width: initial;
  margin: 52rem auto 0 auto;
  padding: 0;
  box-shadow: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "NeutrifStudio-bold", Helvetica, Arial, sans-serif;
}

b,
strong {
  font-family: "NeutrifStudio-bold", Helvetica, Arial, sans-serif;
  color: #252525;
}

h1 {
  font-size: 5.2rem;
  line-height: 5.6rem;
}

.break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

/*@font-face {
    font-family: 'Roboto-condensed-bold';
    src: url('/theme/sima2019_git_desktop/fonts/roboto/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-condensed-regular';
    src: url('/theme/sima2019_git_desktop/fonts/roboto/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Open-sans-bold';
    src: url('/theme/sima2019_git_desktop/fonts/open-sans/opensans-bold-webfont.woff');
}

@font-face {
    font-family: 'Open-sans-regular';
    src: url('/theme/sima2019_git_desktop/fonts/open-sans/opensans-regular-webfont.woff');
}*/
@font-face {
  font-family: "Univers";
  src: url("/theme/milipolqatar_desktop_2020_git/fonts/univers/Univers-Light-Italic.woff2") format("woff2"), url("/theme/milipolqatar_desktop_2020_git/fonts/univers/Univers-Light-Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Univers";
  src: url("/theme/milipolqatar_desktop_2020_git/fonts/univers/Univers-Black-Italic.woff2") format("woff2"), url("/theme/milipolqatar_desktop_2020_git/fonts/univers/Univers-Black-Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Univers";
  src: url("/theme/milipolqatar_desktop_2020_git/fonts/univers/Univers-Black.woff2") format("woff2"), url("/theme/milipolqatar_desktop_2020_git/fonts/univers/Univers-Black.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Univers-Light-Normal";
  src: url("/theme/milipolqatar_desktop_2020_git/fonts/univers/Univers-Light-Normal.woff2") format("woff2"), url("/theme/milipolqatar_desktop_2020_git/fonts/univers/Univers-Light-Normal.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Univers LT Std";
  src: url("/theme/milipolqatar_desktop_2020_git/fonts/univers/UniversLTStd-Obl.woff2") format("woff2"), url("/theme/milipolqatar_desktop_2020_git/fonts/univers/UniversLTStd-Obl.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Univers LT Std";
  src: url("/theme/milipolqatar_desktop_2020_git/fonts/univers/UniversLTStd.woff2") format("woff2"), url("/theme/milipolqatar_desktop_2020_git/fonts/univers/UniversLTStd.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Univers LT Std";
  src: url("/theme/milipolqatar_desktop_2020_git/fonts/univers/UniversLTStd-BoldObl.woff2") format("woff2"), url("/theme/milipolqatar_desktop_2020_git/fonts/univers/UniversLTStd-BoldObl.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Univers LT Std";
  src: url("/theme/milipolqatar_desktop_2020_git/fonts/univers/UniversLTStd-Bold.woff2") format("woff2"), url("/theme/milipolqatar_desktop_2020_git/fonts/univers/UniversLTStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Museo 900";
  src: url("/theme/milipolqatar_desktop_2020_git/fonts/museo/Museo900-Regular.woff2") format("woff2"), url("/theme/milipolqatar_desktop_2020_git/fonts/museo/Museo900-Regular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Museo 700";
  src: url("/theme/milipolqatar_desktop_2020_git/fonts/museo/Museo-700.woff2") format("woff2"), url("/theme/milipolqatar_desktop_2020_git/fonts/museo/Museo-700.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.v-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.noscroll {
  overflow: hidden;
}

.site-banner .inside,
.header-navigation .inside,
.site-footer .inside {
  max-width: 1440px;
}

h1 {
  border: none;
  margin: 0;
  padding: 0;
}

h2 {
  border: 0;
  margin: 0;
  padding: 0;
}

.inside {
  margin: 0;
  padding: 0 !important;
}

/* search */
.site-banner .global-search-form {
  display: block;
  position: absolute;
  top: 20px;
  right: 155px;
  width: 21px;
  height: 21px;
  z-index: 21;
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/zoom.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.block-title {
  border: 0;
}

.article-focus {
  margin: 0 !important;
  border: none;
}

.site-wrapper .block:not(:first-child) {
  margin-top: 5rem;
}

.page-rubric main .zone .list-articles {
  max-width: 100% !important;
  margin: 0 auto;
}

.main-title-with-link {
  border: 0 !important;
  margin: 0 !important;
}

.cc-cookies {
  top: auto;
  bottom: 0;
  background-color: #0b8e36;
  color: white;
  font-size: 1.4rem;
  padding: 2rem 0;
}

.cc-cookies .inside {
  max-width: 116rem;
  padding-right: 12rem !important;
}

.cc-cookies .cc-cookie-accept {
  background-color: white;
  color: #252525;
  font-weight: normal;
  padding: 1rem 2.5rem;
}

.cc-cookies .cc-cookie-accept:hover {
  background-color: #f39200;
  color: white;
}

.cc-cookies .cc-cookie-link {
  color: #06471b;
}

.is-contentPusher {
  display: none !important;
}

.is-stuck .mn-item-lvl-1:first-child {
  display: block;
}

.mn-item-lvl-1 > .mn-link {
  padding: 0;
  min-height: 40px;
}

.is-stuck .mn-item-lvl-1 > .mn-link {
  padding-bottom: 0;
}

.lang-switcher {
  top: 20px;
  right: 50px;
  background-color: transparent;
}

.js .ls-lang-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  margin-top: 0;
  color: white;
  border: 1px solid #e1e1e1;
  width: 110%;
  margin-left: -1px;
}

.ls-lang-link:focus, .ls-lang-link:hover {
  color: #252525;
  background-color: #eee;
}

abbr[title] {
  border: 0 none;
  text-decoration: none;
}

.is-stuck .lang-switcher,
.is-stuck .sb-place-date,
.is-stuck .sb-branding-img.normal {
  display: block;
}

#cxpmClientAccountWidget {
  position: absolute !important;
  top: 20px;
  right: 50px;
}

#cxpmClientAccountWidget .widget-icon {
  height: 3rem;
  display: block;
  padding: 0;
}

#cxpmClientAccountWidget .widget-my-selection .number,
#cxpmClientAccountWidget .widget-notifications .number {
  display: none;
}

#cxpmClientAccountWidget .widget-my-selection i,
#cxpmClientAccountWidget .widget-notifications i {
  font-size: 2rem !important;
  padding: 0;
}

#cxpmClientAccountWidget .widget-text span a {
  font-size: 1.4rem !important;
}

#cxpmClientAccountWidget .widgetCapLogout {
  font-size: 1.2rem !important;
}

#cxpmClientAccountWidget .widget-text span a:focus,
#cxpmClientAccountWidget .widget-text span a:hover {
  color: #0b8e36 !important;
}

#cxpmClientAccountWidget .openCapTrigger {
  padding-right: 0;
}

.cap-icon-shopping_basket::before {
  background-image: url("/theme/milipolqatar_desktop_2020_git/img/shop.svg");
  background-repeat: no-repeat;
  content: "" !important;
  display: block;
  width: 16px;
  height: 21px;
  background-position: center;
  background-size: 100%;
}

.site-banner .gsf-trigger:hover,
.site-banner .gsf-trigger:focus {
  background-color: #eee;
}

.ls-lang-link {
  color: #252525;
  font-size: 1.2rem;
}

#zone3.zone {
  position: fixed;
  right: 0;
  top: 154px;
  z-index: 100;
  background-color: rgba(11, 22, 38, 0.9);
  padding: 10px;
  padding-left: 10px !important;
}

#zone3.zone ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 0;
  margin-top: 0;
}

#zone3.zone ul li {
  margin-bottom: 1.5rem;
}

#zone3.zone ul li h2 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: mixed;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: white;
  letter-spacing: 0.2px;
  font-family: "Univers LT Std", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

#zone3.zone ul li a {
  color: white;
}

#zone3.zone ul li a svg {
  height: 1.5rem;
  width: 1.5rem;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1) translate(-50%, -50%);
            transform: scale(0.1, 0.1) translate(-50%, -50%);
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  60% {
    -webkit-transform: scale(1.5, 1.5) translate(-50%, -50%);
            transform: scale(1.5, 1.5) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1) translate(-50%, -50%);
            transform: scale(0.1, 0.1) translate(-50%, -50%);
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  60% {
    -webkit-transform: scale(1.5, 1.5) translate(-50%, -50%);
            transform: scale(1.5, 1.5) translate(-50%, -50%);
    opacity: 0;
  }
}

/* Components */
.btn {
  padding: 2rem 3rem;
  min-width: 16rem;
  font-size: 2rem;
  font-family: "NeutrifStudio-bold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  border: 0 none;
}

@media screen and (max-width: 1520px) {
  .btn {
    padding: 1.5rem;
  }
}

.btn:hover {
  color: white;
}

.btn.btn-ghost-white {
  border-color: white;
  color: white;
  border: 3px solid white;
}

.btn.btn-white-grey {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, white 50%, #252525 50%);
  color: #0b1626;
}

.btn.btn-white-grey:hover {
  background-position: 0 100%;
}

.btn.btn-gold {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #a6945d 50%, #252525 50%);
}

.btn.btn-gold:hover {
  background-position: 0 100%;
}

.btn.btn-red {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #7b1228 50%, #252525 50%);
}

.btn.btn-red:hover {
  background-position: 0 100%;
}

.btn.btn-red.btn-yellow-color-white {
  color: white;
}

.btn.btn-red.btn-yellow-color-white:hover {
  color: white !important;
}

.btn.btn-orange {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #f39200 50%, #252525 50%);
}

.btn.btn-orange:hover {
  background-position: 0 100%;
}

.btn.btn-orange.btn-orange-color-white {
  color: white;
}

.btn.btn-orange.btn-orange-color-white:hover {
  color: white !important;
}

.edito-item-btn {
  display: flex;
  justify-content: center;
}

.edito-item-btn .link-read-more {
  font-size: 2rem;
  color: white;
  font-family: "NeutrifStudio-bold", Helvetica, Arial, sans-serif;
}

.btn-list {
  padding: 0;
  margin: 2rem 0 0 0;
  display: flex;
}

.btn-list.btn-list-center {
  justify-content: center;
}

.btn-list .btn {
  margin-right: 1.5rem;
  transition: all 0.1s ease-in-out;
}

.btn-list .btn:last-child {
  margin-right: 0;
}

.btn-list .btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.popin {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  transition: opacity .25s ease;
  opacity: 0;
}

.popin.popin-open {
  opacity: 1;
  transition: opacity .25s ease;
  visibility: visible;
}

.popin.popin-video .popin-container {
  background-color: transparent;
}

.popin.popin-video .popin-container iframe {
  width: 110rem;
  max-width: 100%;
  height: 62rem;
}

.popin .popin-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.9);
  z-index: 0;
}

.popin .popin-container {
  background-color: white;
  position: relative;
  z-index: 1;
}

.popin .popin-container .popin-close {
  color: white;
  font-family: "NeutrifStudio-bold", Helvetica, Arial, sans-serif;
  text-align: right;
  cursor: pointer;
  transition: all 0.25s ease;
  font-size: 1.6rem;
  padding: 1rem 0;
}

.popin .popin-container .popin-close:focus, .popin .popin-container .popin-close:hover {
  color: #f39200;
}

/* Layouts */
.site-banner {
  background: #7b1228;
  position: relative;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  padding: 0;
  box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0);
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  /* end inside */
}

.site-banner.is-stuck {
  padding: 0;
  box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.15);
  border-bottom: 0;
}

.site-banner.is-stuck > .inside .main-navigation + .main-navigation {
  margin: 0;
}

.site-banner.is-stuck .intro-home {
  display: none;
}

.site-banner.is-stuck .mn-link-text {
  color: #0b1626 !important;
}

.site-banner > .inside {
  width: 100%;
  max-width: initial;
  /********************************* BLOC 1 - TOP HEADER ***********************************/
  /*se connecter et pannier*/
  /*langue*/
  /*icon-search*/
  /************************* BLOC 2- NAVIGATION ********************************/
}

.site-banner > .inside .nav-left {
  border-bottom: 1px solid #e7e7e7;
  align-items: center;
  align-content: center;
  padding: 0 2rem;
  height: 3.1rem;
}

.site-banner > .inside .nav-left p {
  color: #6e6e6e;
  margin: 0;
  font-size: 1.3rem;
  margin-left: 1rem;
  font-family: initial;
}

@media screen and (max-width: 1520px) {
  .site-banner > .inside .nav-left p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1199px) {
  .site-banner > .inside .nav-left p {
    font-size: 1.2rem;
  }
}

.site-banner > .inside .nav-left p strong {
  color: #252525;
  font-family: "NeutrifStudio-bold", Helvetica, Arial, sans-serif;
}

.site-banner > .inside .nav-left p span {
  font-family: "NeutrifStudio-regular", Helvetica, Arial, sans-serif;
  line-height: 0.5;
}

.site-banner > .inside .quicklinks {
  padding: 15px 0;
  background-color: #0b1626;
}

.site-banner > .inside .quicklinks ul.ql-list.unstyled {
  display: flex;
  font-family: initial;
  justify-content: center;
}

.site-banner > .inside .quicklinks ul.ql-list.unstyled .ql-item.linkid851786 span.txt-btn {
  margin-right: 10px;
  display: flex;
}

.site-banner > .inside .quicklinks ul.ql-list.unstyled .ql-item.linkid851786 span.txt-btn:before {
  content: "";
  background-image: url("/theme/milipolqatar_desktop_2020_git/img/nav-icon-1.svg");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  display: block;
  margin-right: 10px;
}

.site-banner > .inside .quicklinks ul.ql-list.unstyled .ql-item.linkid851788 span.txt-btn {
  margin-right: 10px;
  display: flex;
}

.site-banner > .inside .quicklinks ul.ql-list.unstyled .ql-item.linkid851788 span.txt-btn:before {
  content: "";
  background-image: url("/theme/milipolqatar_desktop_2020_git/img/nav-icon-2.svg");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  display: block;
  margin-right: 10px;
}

.site-banner > .inside .quicklinks ul.ql-list.unstyled .ql-item.linkid851789 span.txt-btn {
  margin-right: 10px;
  display: flex;
}

.site-banner > .inside .quicklinks ul.ql-list.unstyled .ql-item.linkid851789 span.txt-btn:before {
  content: "";
  background-image: url("/theme/milipolqatar_desktop_2020_git/img/nav-icon-3.svg");
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  display: block;
  margin-right: 10px;
}

.site-banner > .inside .quicklinks ul.ql-list.unstyled .ql-item.linkid851791 {
  border: 1px solid #a6945d;
  margin-right: 10px;
}

.site-banner > .inside .quicklinks ul.ql-list.unstyled .ql-item.linkid851791 span.txt-btn {
  margin-right: 10px;
}

.site-banner > .inside .quicklinks ul.ql-list.unstyled .ql-item.linkid851791:focus span.txt-btn, .site-banner > .inside .quicklinks ul.ql-list.unstyled .ql-item.linkid851791:hover span.txt-btn {
  color: #7b1228;
}

.site-banner > .inside .quicklinks ul.ql-list.unstyled .ql-item.linkid851792 {
  border: 1px solid #7b1228;
}

.site-banner > .inside .quicklinks ul.ql-list.unstyled .ql-item.linkid851792 span.txt-btn {
  margin-right: 10px;
}

.site-banner > .inside .quicklinks ul.ql-list.unstyled .ql-item.linkid851792:focus span.txt-btn, .site-banner > .inside .quicklinks ul.ql-list.unstyled .ql-item.linkid851792:hover span.txt-btn {
  color: #7b1228;
}

.site-banner > .inside .quicklinks ul.ql-list.unstyled .btn-primary {
  background: none;
  border: none;
  font-size: 1.5rem;
  padding: 0;
  font-family: "NeutrifStudio-bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 10px;
}

.site-banner > .inside .quicklinks ul.ql-list.unstyled .btn-primary:focus, .site-banner > .inside .quicklinks ul.ql-list.unstyled .btn-primary:hover {
  color: #7b1228;
}

.site-banner > .inside .quicklinks ul.ql-list.unstyled .btn-primary .txt-btn {
  vertical-align: text-top;
}

.site-banner > .inside .logged,
.site-banner > .inside .not-logged {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 5.3rem;
}

.site-banner > .inside .logged a,
.site-banner > .inside .not-logged a {
  color: #252525;
}

.site-banner > .inside .logged .openCapTrigger,
.site-banner > .inside .not-logged .openCapTrigger {
  color: #252525;
}

.site-banner > .inside .logged .openCapTrigger:hover,
.site-banner > .inside .not-logged .openCapTrigger:hover {
  color: #0b8e36;
}

.site-banner > .inside .logged .widgetCapLogout,
.site-banner > .inside .not-logged .widgetCapLogout {
  color: #252525;
}

.site-banner > .inside .logged .widgetCapLogout:hover,
.site-banner > .inside .not-logged .widgetCapLogout:hover {
  color: #0b8e36;
}

.site-banner > .inside .logged .widget-text,
.site-banner > .inside .not-logged .widget-text {
  padding-top: 1px !important;
  height: auto;
}

.site-banner > .inside .logged .widget-text .openCapTrigger,
.site-banner > .inside .not-logged .widget-text .openCapTrigger {
  padding-right: 1.2rem;
  font-family: "NeutrifStudio-regular", Helvetica, Arial, sans-serif;
}

.site-banner > .inside .logged .widget-text .openCapTrigger .cap-icon-user-circle-o:before,
.site-banner > .inside .not-logged .widget-text .openCapTrigger .cap-icon-user-circle-o:before {
  content: "";
  background-image: url("/theme/milipolqatar_desktop_2020_git/img/avatar.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 16px;
  height: 21px;
  margin-right: 0.7rem;
  background-size: 100%;
  display: inline-block;
}

.site-banner > .inside .logged .cap-icon-shopping_basket,
.site-banner > .inside .not-logged .cap-icon-shopping_basket {
  padding-right: 2rem;
}

.site-banner > .inside .ls-trigger {
  font-family: "NeutrifStudio-bold", Helvetica, Arial, sans-serif;
  color: white;
  padding: 0.8rem 1.2rem 0.9rem 1.2rem;
}

.site-banner > .inside .ls-trigger:focus {
  outline: none;
}

.site-banner > .inside .ls-trigger::after {
  margin-left: 0.2rem;
  border-width: 0.5rem 0.3rem 0 0.3rem;
  top: 0.3rem;
  border-color: #252525 transparent transparent transparent;
}

.site-banner > .inside button.gsf-trigger.js-toggle-trigger.unstyled {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 3rem;
  display: block;
  width: 3.5rem;
  text-align: center;
}

.site-banner > .inside button.gsf-trigger.js-toggle-trigger.unstyled .icon.icon-search {
  color: #252525;
}

.site-banner > .inside button.gsf-trigger.js-toggle-trigger.unstyled .icon.icon-search::before {
  content: "";
  background-image: url("/theme/milipolqatar_desktop_2020_git/images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
  width: 3.5rem;
  height: 3rem;
  display: block;
}

.site-banner > .inside .main-navigation {
  display: flex;
  justify-content: space-around;
  box-shadow: none;
  padding: 0;
  margin: 3rem 0 0 0;
  position: relative;
  z-index: 2;
  font-family: initial;
  background-color: transparent;
}

.site-banner > .inside .main-navigation:before {
  content: "";
  background-image: url("/theme/milipolqatar_desktop_2020_git/img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 35.5rem;
  height: 16rem;
  display: block;
  position: fixed;
  left: 200px;
  top: 20px;
}

.site-banner > .inside .main-navigation + .main-navigation {
  margin: 0 2rem;
  transition: all 0.2s ease;
  position: relative;
  z-index: 1;
}

.site-banner > .inside .main-navigation + .main-navigation .mn-menu-line {
  background-color: #f39200;
  padding: 2rem 2rem;
  margin: 0;
  font-family: initial;
}

.site-banner > .inside .main-navigation + .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 {
  margin-left: 4rem;
}

@media screen and (max-width: 1199px) {
  .site-banner > .inside .main-navigation + .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 {
    margin: 0.8rem;
  }
}

.site-banner > .inside .main-navigation + .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-link {
  background-color: transparent;
  text-transform: none;
  transition: all 0.2s ease;
}

.site-banner > .inside .main-navigation + .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-link .mn-link-text {
  color: white;
}

@media screen and (max-width: 1199px) {
  .site-banner > .inside .main-navigation + .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-link .mn-link-text {
    font-size: 1.9rem !important;
  }
}

@media screen and (max-width: 1520px) {
  .site-banner > .inside .main-navigation + .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-link .mn-link-text {
    font-size: 1.45rem;
  }
}

.site-banner > .inside .main-navigation + .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-link::before {
  display: none;
}

.site-banner > .inside .main-navigation + .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1:nth-last-child(-n + 2) {
  -webkit-transform: none;
          transform: none;
  margin-left: 4rem;
}

@media screen and (max-width: 1199px) {
  .site-banner > .inside .main-navigation + .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1:nth-last-child(-n + 2) {
    margin: 0.8rem;
  }
}

.site-banner > .inside .main-navigation + .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1:nth-last-child(-n + 2):hover {
  -webkit-transform: none;
          transform: none;
}

.site-banner > .inside .main-navigation + .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1:first-child {
  margin-left: 1rem;
}

.site-banner > .inside .main-navigation .mn-menu-line {
  max-width: 100%;
  box-shadow: none;
  border: none;
  width: 100%;
  padding: 0 2rem;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  list-style: none;
  /*logo SIMA*/
  /*BTN EXPOSANT/BADGE*/
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1:nth-last-child(-n + 2) .mn-link, .site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1:first-child .mn-link {
  background: transparent;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1:nth-last-child(-n + 2) {
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: all 0.2s ease;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1:nth-last-child(-n + 2):hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-link {
  font-family: "Univers LT Std", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-link .mn-link-text {
  color: white;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-menu-submenu {
  padding-top: 4.5rem;
  background: #ffffff;
  z-index: 0;
  min-width: 28rem;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-menu-submenu::after {
  content: "";
  display: block;
  box-shadow: 0 1rem 2rem -0.5rem rgba(0, 0, 0, 0.05);
  background-color: white;
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-menu-submenu .mn-item-lvl-2 {
  position: relative;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-menu-submenu .mn-item-lvl-2:first-child {
  border-top: 1px solid #e7e7e7;
  padding-top: 1.5rem;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-menu-submenu .mn-item-lvl-2:first-child::before {
  content: "";
  width: 2rem;
  height: 2rem;
  display: block;
  position: absolute;
  left: 3.2rem;
  top: 0;
  background-color: white;
  border-left: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  -webkit-transform: rotate(45deg) translateX(-75%);
          transform: rotate(45deg) translateX(-75%);
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-menu-submenu .mn-item-lvl-2:first-child .mn-link::before {
  top: 62%;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-menu-submenu .mn-item-lvl-2:last-child {
  padding-bottom: 1.5rem;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-menu-submenu .mn-item-lvl-2:last-child .mn-link::before {
  top: 38%;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-menu-submenu .mn-item-lvl-2 .mn-link {
  padding: 0.6rem 2.8rem 0.6rem 5.3rem;
  line-height: 2.4rem;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-menu-submenu .mn-item-lvl-2 .mn-link::before {
  content: "";
  width: 1.5rem;
  height: 2px;
  background-color: #0b8e36;
  position: absolute;
  left: 3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: all 0.275s ease;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-menu-submenu .mn-item-lvl-2 .mn-link:hover {
  padding-left: 6.3rem;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-menu-submenu .mn-item-lvl-2 .mn-link:hover::before {
  width: 2.5rem;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-item-lvl-1 .mn-menu-submenu span.mn-link-text::before {
  display: none;
}

.site-banner > .inside .main-navigation .mn-menu-line ul.mn-menu.mn-menu-lvl1.unstyled .mn-submenu {
  background: white;
}

/* end site-banner*/
.site-footer {
  background: #7b1228;
  position: relative;
  margin: 0;
  padding: 5rem 0 0 0;
  /*END-INSIDE*/
}

/*END-SITE-FOOTER*/
/* pages */
.intro-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7b1228;
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/header-background-right.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 360px;
}

.intro-home h1 {
  font-family: "Univers LT Std", sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.34px;
  text-transform: uppercase;
  color: #a6945d;
  margin-bottom: 15px;
}

.intro-home h2 {
  font-family: "Museo 700", sans-serif !important;
  font-size: 51px;
  font-weight: 700;
  line-height: 61px;
  color: white;
  margin-bottom: 30px;
  max-width: 1015px;
  text-align: center;
}

.intro-home h2 span {
  color: rgba(255, 255, 255, 0.8);
}

.intro-home .intro-home__img-bg {
  position: absolute;
  z-index: 0;
  top: 125px;
}

.intro-home .buttons-container {
  display: flex;
  justify-content: center;
  width: 530px;
  z-index: 0;
}

.intro-home .buttons-container .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 26px;
}

.intro-home .buttons-container .btn:not(:last-child) {
  margin-right: 15px;
}

.intro-home .buttons-container .btn span {
  font-family: "Univers LT Std", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.2px;
  color: #0b1626;
  margin-right: 15px;
}

.intro-home .buttons-container .btn.btn-gold span {
  color: white;
}

.bottom-text {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: rgba(49, 2, 0, 0.5);
  margin-top: 85px;
  width: 100%;
  font-family: "Univers LT Std", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: white;
  text-transform: uppercase;
}

#zone1 {
  background-color: #f7f8f8;
}

#zone1 .cta-arrow .ql-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
}

#zone1 .cta-arrow .ql-list .ql-item {
  width: 33%;
  padding: 30px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

#zone1 .cta-arrow .ql-list .ql-item a {
  padding: 0 100px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: #0b1626;
  font-family: "Univers LT Std", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}

#zone1 .cta-arrow .ql-list .ql-item a i {
  margin-top: 15px;
}

#zone1 .cta-arrow .ql-list .ql-item a i::before {
  display: none;
}

#zone1 .cta-arrow .ql-list .ql-item a:before {
  content: "";
  width: 22px;
  height: 6px;
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/arrow-right-gold.svg);
  background-repeat: no-repeat;
}

#zone1 .cta-arrow .ql-list .ql-item.linkid851795 a {
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}

#zone1 .opening-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/opening-in-background.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  padding: 85px 0;
  border-top: 1px solid #d8d8d8;
}

#zone1 .opening-in .text {
  font-family: "Museo 700", sans-serif !important;
  font-size: 33px;
  font-weight: 700;
  line-height: 40px;
  color: #0b1626;
  margin-right: 80px;
}

#zone1 .opening-in .container-dates {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#zone1 .opening-in .container-dates .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
}

#zone1 .opening-in .container-dates .date p {
  font-family: "Museo 900", sans-serif;
  font-size: 63px;
  font-weight: 900;
  line-height: 75px;
  color: #7b1228;
}

#zone1 .opening-in .container-dates .date img {
  margin-top: -20px;
}

#zone1 .opening-in .container-dates .date span {
  font-family: "Univers LT Std", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #0b1626;
  text-transform: uppercase;
  margin-top: -25px;
}

#zone2 {
  width: 100%;
}

#zone2 .edito-about,
#zone2 .discover-qatar {
  padding: 50px 0;
}

#zone2 .edito-about .inside,
#zone2 .discover-qatar .inside {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  max-width: 1440px;
  margin: auto;
}

#zone2 .edito-about .inside img,
#zone2 .discover-qatar .inside img {
  max-width: 540px;
  height: 396px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -18px;
}

#zone2 .edito-about .inside h2,
#zone2 .discover-qatar .inside h2 {
  position: absolute;
  left: 50%;
  top: 80px;
  font-family: "Univers LT Std", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #7b1228;
  text-transform: uppercase;
  position: relative;
}

#zone2 .edito-about .inside h2:after,
#zone2 .discover-qatar .inside h2:after {
  content: "";
  display: inline-block;
  width: 59px;
  height: 2px;
  background-color: #7b1228;
  position: absolute;
  top: 25px;
  left: 0px;
}

#zone2 .edito-about .inside a,
#zone2 .discover-qatar .inside a {
  position: absolute;
  left: 50%;
  top: 350px;
}

#zone2 .edito-about .inside h3,
#zone2 .discover-qatar .inside h3 {
  position: absolute;
  left: 50%;
  top: 120px;
  margin-top: 0;
  font-family: "Museo 700", sans-serif !important;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  color: #0b1626;
  max-width: 350px;
}

#zone2 .edito-about .inside p,
#zone2 .discover-qatar .inside p {
  position: absolute;
  left: 50%;
  top: 200px;
  font-family: "Univers LT Std", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 26px;
  color: #3c4451;
  max-width: 350px;
}

#zone2 .edito-about .inside p a,
#zone2 .discover-qatar .inside p a {
  display: flex;
  align-items: center;
  margin-left: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  font-family: "Univers LT Std", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  padding: 19px;
  width: 207px;
  background-color: #7b1228;
}

#zone2 .edito-about .inside p a:after,
#zone2 .discover-qatar .inside p a:after {
  content: "";
  width: 22px;
  height: 6px;
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/arrow-right-gold.svg);
  background-repeat: no-repeat;
  display: block;
  margin-left: 50px;
}

#zone2 .edito-about .inside .lien1,
#zone2 .discover-qatar .inside .lien1 {
  top: 90px;
  border: 2px solid transparent;
}

#zone2 .edito-about .inside .lien2,
#zone2 .discover-qatar .inside .lien2 {
  background-color: white;
  color: #0b1626;
  border: 2px solid rgba(11, 22, 38, 0.13);
  top: 90px;
  left: 220px;
}

#zone2 .prepare {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 55px 0;
  background-color: #f7f8f8;
}

#zone2 .prepare .text-left {
  max-width: 160px;
  margin-right: 150px;
  font-family: "Museo 700", sans-serif !important;
  font-size: 33px;
  font-weight: 700;
  line-height: 29px;
  color: #0b1626;
}

#zone2 .prepare .text-left span {
  font-family: "Univers LT Std", sans-serif;
  font-size: 23px;
  font-weight: 600;
  line-height: 29px;
  color: #9a1c36;
}

#zone2 .prepare .links {
  margin-top: 0;
}

#zone2 .prepare .links .ql-item:not(:last-child) {
  margin-right: 50px;
}

#zone2 .prepare .links .ql-item span {
  font-family: "Museo 700", sans-serif !important;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  color: #0b1626;
}

#zone2 .quicklinks .ql-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#zone2 .quicklinks .ql-list .ql-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#zone2 .quicklinks .ql-list .ql-item a {
  background-color: transparent;
  border: none;
  color: #0b1626;
  padding: 0.4em 1em;
}

#zone2 .quicklinks .ql-list .ql-item a i::before {
  display: none;
}

#zone2 .quicklinks .ql-list .ql-item:after {
  content: "";
  width: 22px;
  height: 6px;
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/arrow-right-gold.svg);
  background-repeat: no-repeat;
}

#zone2 .quicklinks .ql-list .ql-item:before {
  content: "";
  background-repeat: no-repeat;
}

#zone2 .quicklinks .ql-list .ql-item.linkid851799:before {
  width: 24px;
  height: 16px;
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/prepare-icon-1.svg);
}

#zone2 .quicklinks .ql-list .ql-item.linkid851800:before {
  width: 25px;
  height: 21px;
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/prepare-icon-2.svg);
}

#zone2 .quicklinks .ql-list .ql-item.linkid851801:before {
  width: 18px;
  height: 22px;
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/prepare-icon-3.svg);
}

#zone2 .quicklinks .ql-list .ql-item.linkid851802:before {
  width: 18px;
  height: 22px;
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/prepare-icon-4.svg);
}

#zone2 .video {
  background-color: #0b1626;
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/video-background.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#zone2 .video h2 {
  font-family: "Museo 700", sans-serif !important;
  font-size: 33px;
  font-weight: 700;
  line-height: 40px;
  color: white;
  margin-bottom: 52px;
}

#zone2 .video iframe {
  margin: 0 auto;
}

#zone2 .conference-program {
  margin: 50px 0;
}

#zone2 .conference-program h2 {
  text-align: center;
  font-family: "Museo 700", sans-serif !important;
  font-size: 33px;
  font-weight: 700;
  line-height: 40px;
  color: #0b1626;
  margin-bottom: 55px;
}

#zone2 .conference-program .warpper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}

#zone2 .conference-program .tabs {
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#zone2 .conference-program .tabs .tab {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px 2px;
  display: inline-block;
}

#zone2 .conference-program .tabs .tab .date {
  font-family: "Univers LT Std", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #7b1228;
}

#zone2 .conference-program .tabs .tab .month {
  font-family: "Univers LT Std", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #0b1626;
  text-transform: uppercase;
}

#zone2 .conference-program .panels {
  background: #fffffff6;
  min-height: 200px;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  padding: 20px;
}

#zone2 .conference-program .panel {
  display: none;
  -webkit-animation: fadein 0.8s;
          animation: fadein 0.8s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#zone2 .conference-program .panel-title {
  font-family: "Museo 700", sans-serif !important;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #0b1626;
  margin-top: 50px;
  margin-bottom: 27px;
}

#zone2 .conference-program .panel-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f8f8;
  padding: 15px;
  margin-bottom: 10px;
}

#zone2 .conference-program .panel-content .hour {
  background-color: white;
  padding: 20px 10px;
  margin-right: 32px;
  min-width: 85px;
  height: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#zone2 .conference-program .panel-content .hour .begin,
#zone2 .conference-program .panel-content .hour .finish {
  color: #0b1626;
  font-family: "Museo 700", sans-serif !important;
  font-size: 19px;
  font-weight: 700;
  line-height: 13px;
}

#zone2 .conference-program .panel-content .hour .begin {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #a6945d;
}

#zone2 .conference-program .panel-content .details .title {
  font-family: "Univers LT Std", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #7b1228;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#zone2 .conference-program .panel-content .details .text {
  font-family: "Univers LT Std", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.25px;
  color: #3c4451;
}

#zone2 .conference-program .radio {
  display: none;
}

#zone2 .conference-program #one:checked ~ .panels #one-panel,
#zone2 .conference-program #two:checked ~ .panels #two-panel,
#zone2 .conference-program #three:checked ~ .panels #three-panel {
  display: block;
}

#zone2 .conference-program #one:checked ~ .tabs #one-tab,
#zone2 .conference-program #two:checked ~ .tabs #two-tab,
#zone2 .conference-program #three:checked ~ .tabs #three-tab {
  border-bottom: 3px solid #7b1228;
}

#zone2 .conference-program #one:checked ~ .tabs #one-tab .month,
#zone2 .conference-program #two:checked ~ .tabs #two-tab .month,
#zone2 .conference-program #three:checked ~ .tabs #three-tab .month {
  font-weight: bold;
}

#zone2 .conference-program .cta {
  display: flex;
  justify-content: center;
}

#zone2 .contacts-list {
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/speakers-background.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-color: #f7f8f8;
  padding: 50px;
}

#zone2 .contacts-list .block-title {
  font-family: "Museo 700", sans-serif !important;
  font-size: 33px;
  font-weight: 700;
  line-height: 16px;
  color: #0b1626;
  margin-bottom: 53px;
  text-align: center;
}

#zone2 .contacts-list .cl-content {
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#zone2 .contacts-list .cl-content .cl-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 350px;
  background-color: white;
  padding-bottom: 0;
}

#zone2 .contacts-list .cl-content .cl-item .cl-item-illust {
  display: none;
}

#zone2 .contacts-list .cl-content .cl-item .cl-item-photo {
  margin-right: 20px;
  padding: 10px;
}

#zone2 .contacts-list .cl-content .cl-item .cl-item-content .cl-item-title {
  font-family: "Univers LT Std", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #7b1228;
  margin-bottom: 23px;
}

#zone2 .contacts-list .cl-content .cl-item .cl-item-content .cl-item-cl-item-subtitle {
  font-family: "Univers LT Std", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  color: #7b8799;
}

#zone2 .partner .box-dark .inside .main-title-with-link {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto !important;
}

#zone2 .partner .box-dark .inside .main-title-with-link .main-title {
  text-align: center;
  margin-bottom: 20px;
}

#zone2 .partner .box-dark .inside .main-title-with-link .link-view-all {
  align-self: flex-end;
}

#zone2 .partner .box-dark .inside .partner-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

#zone2 .partner .box-dark .inside .partner-gallery .slider-content {
  justify-content: space-between;
}

#zone2 .partner .box-dark .inside .partner-gallery .slider-content .pg-item {
  border: 1px solid #d8d8d8;
}

#zone2 .list-articles {
  background-color: rgba(137, 121, 71, 0.2);
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/latest-news-background.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  padding: 50px;
}

#zone2 .list-articles .inside .main-title-with-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto !important;
}

#zone2 .list-articles .inside .main-title-with-link .main-title {
  text-align: center;
  margin-bottom: 20px;
  float: none;
  font-family: "Museo 700", sans-serif !important;
  font-size: 33px;
  font-weight: 700;
  line-height: 16px;
  text-transform: capitalize;
  color: #0b1626;
}

#zone2 .list-articles .inside .main-title-with-link .link-view-all {
  float: none;
}

#zone2 .list-articles .inside .grid-la-list {
  justify-content: space-evenly;
  max-width: 1440px;
  margin: 0 auto;
}

#zone2 .list-articles .inside .grid-la-list .gla-item {
  margin-left: 0;
  min-height: 475px;
  background-color: white;
  padding: 10px;
}

#zone2 .list-articles .inside .grid-la-list .gla-item a img {
  width: 100%;
}

#zone2 .list-articles .inside .grid-la-list .gla-item a .gla-item-content {
  display: flex;
}

#zone2 .list-articles .inside .grid-la-list .gla-item a .gla-item-content .gla-item-title {
  font-family: "Univers LT Std", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  color: #7b1228;
}

#zone2 .list-articles .inside .grid-la-list .gla-item a .gla-item-content .gla-item-btn {
  order: 2;
  margin-top: 0;
  align-self: flex-end;
}

#zone2 .list-articles .inside .grid-la-list .gla-item a .gla-item-content .gla-item-btn .gla-btn-read-more {
  background-color: transparent;
  border: 0;
  font-family: "Univers LT Std", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #0b1626;
}

#zone2 .list-articles .inside .grid-la-list .gla-item a .gla-item-content .gla-item-btn .gla-btn-read-more i::after {
  content: "";
  width: 22px;
  height: 6px;
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/arrow-right-gold.svg);
  background-repeat: no-repeat;
}

#zone2 .business-areas {
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/business-areas-background.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  padding: 50px;
}

#zone2 .business-areas .block-title {
  font-family: "Museo 700", sans-serif !important;
  font-size: 33px;
  font-weight: 700;
  line-height: 16px;
  color: #0b1626;
  margin-bottom: 53px;
  text-align: center;
}

#zone2 .business-areas .item-list {
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

#zone2 .business-areas .item-list a {
  height: 144px;
  margin-bottom: 15px;
}

#zone2 .business-areas .item-list a:hover .red-overlay {
  display: block;
}

#zone2 .business-areas .item-list .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/business-areas-item-background.png);
  padding: 24px;
  width: 256px;
  height: 144px;
  position: relative;
}

#zone2 .business-areas .item-list .item p {
  color: white;
  font-family: "Museo 700", sans-serif !important;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-right: 35px;
  z-index: 1;
}

#zone2 .business-areas .item-list .item .red-overlay {
  background: rgba(154, 28, 54, 0.5);
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}

#zone2 .business-areas .cta {
  display: flex;
  justify-content: center;
}

#zone2 .discover-qatar {
  margin-top: 0;
}

#zone2 .key-numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  padding: 80px 0;
}

#zone2 .key-numbers .text {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  color: #0b1626;
  font-family: "Museo 700", sans-serif !important;
  font-size: 33px;
  font-weight: 700;
  line-height: 29px;
}

#zone2 .key-numbers .text span {
  color: #7b1228;
  font-family: "Univers LT Std", sans-serif;
  font-size: 23px;
  font-weight: 600;
  line-height: 29px;
}

#zone2 .key-numbers .container-numbers {
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  text-align: center;
  margin-left: 40px;
  margin-top: -70px;
}

#zone2 .key-numbers .container-numbers .link {
  color: #7b1228;
  font-family: "Museo 900", sans-serif;
  font-size: 63px;
  font-weight: 900;
  line-height: 75px;
  position: relative;
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50px;
}

#zone2 .key-numbers .container-numbers .link:first-child {
  margin-left: -85px;
}

#zone2 .key-numbers .container-numbers .link:first-child:after {
  background-color: #7b1228;
}

#zone2 .key-numbers .container-numbers .link:last-child {
  margin-right: -80px;
}

#zone2 .key-numbers .container-numbers .link:after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #a6945d;
  position: absolute;
  border-radius: 10px;
  bottom: 44px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

#zone2 .key-numbers .container-numbers .link p {
  margin-bottom: 20px;
}

#zone2 .key-numbers .container-numbers .link span {
  color: #0b1626;
  text-transform: uppercase;
  font-family: "Univers LT Std", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}

#zone2 .key-numbers .text-bg {
  position: absolute;
  bottom: 0;
  right: -160px;
  color: #f7f8f8;
  z-index: -1;
  max-width: 600px;
  text-align: right;
}

#zone2 .key-numbers .text-bg p {
  margin: 0;
  margin-top: -20px;
  font-family: "Museo 700", sans-serif !important;
  font-size: 138px;
  font-weight: 700;
  line-height: 104px;
}

#zone2 .key-numbers .text-bg span {
  font-family: "Univers LT Std", sans-serif;
  font-size: 96px;
  font-weight: 600;
  line-height: 104px;
}

#zone4 {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: -300px;
}

#zone4 .ads {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0b1626;
  width: 100%;
  height: 152px;
  color: white;
}

#zone4 :nth-child(2) {
  width: 50%;
  display: flex;
  align-self: flex-start;
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/last-section-background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #0b1626;
}

#zone4 :nth-child(3) {
  position: relative;
  top: -300px;
  width: 50%;
  display: flex;
  align-self: flex-end;
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/last-section-background-2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #0b1626;
}

#zone4 .article-focus {
  height: 300px;
}

#zone4 .article-focus .inside {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#zone4 .article-focus .inside .af-title {
  display: none;
}

#zone4 .article-focus .inside p {
  display: none;
}

#zone4 .article-focus :nth-child(1) p {
  background-image: none;
}

#zone4 .article-focus :nth-child(1) a {
  position: static;
  background-image: none;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  font-family: "Univers LT Std", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  padding: 20px;
  width: 245px;
  background-color: #7b1228;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  border: none;
}

#zone4 .article-focus :nth-child(1) a:after {
  content: "";
  width: 22px;
  height: 8px;
  background-image: url(/theme/milipolqatar_desktop_2020_git/img/arrow-right-white.svg);
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
}

#zone4 .article-focus :nth-child(1) i {
  display: none;
}

#zone4 .article-focus :nth-child(2) p {
  background-image: none;
}

#zone4 .article-focus :nth-child(2) a {
  position: static;
  background-image: none;
  width: 100%;
  background-color: #7b1228;
}


/*# sourceMappingURL=main.css.map*/
